/**
 * App entry scss file using bootstrap and AdminLTE v2
 *
 * @url https://getbootstrap.com/docs/4.0/getting-started/theming/
 * @url https://getbootstrap.com/docs/4.0/getting-started/webpack/#importing-precompiled-sass
 */
 @import '~bootstrap/scss/bootstrap';
 @import "~admin-lte/build/scss/AdminLTE-raw.scss";

 $color: blue;

 h1 {
  color: $color;
}

.color-palette {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

a.logout:hover {
  background-color: $danger;
  color: $light !important;
}

.sidebar-dark-primary {
  background-color: #222d32;
  .nav-sidebar {
    .nav-item {
      .nav-treeview {
        background-color: #343a40;
      }
    }
  }
}

.info-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

table.table {
  th, td {
    vertical-align: middle;
  }
}

.content-center {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.modal.fade .modal-dialog{
  transition: transform .3s;
  transform: scale(0);
}

.modal.fade.show .modal-dialog{
  transition: transform .2s;
  transform: scale(1);
}

body, .modal {
  padding-right: 0px !important;
}

.input-group > .input-group-prepend > .input-group-text {
  background-color: #fff;
  padding-right: 0;
}

.bl-0 {
  border-left: 0 !important;
}

table tbody tr td .btn-link {
  padding: 0;
}

.modal .modal-content .alert.alert-success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
  margin-bottom: 0px;
}

.modal .modal-content .alert.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
  margin-bottom: 0px;
}

img {
  max-width: 100%;
}
